@charset "UTF-8";
/*!
* ress.css • v1.2.2
* MIT License
* github.com/filipelinhares/ress
*/
/* # =================================================================
# Global selectors
# ================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,1000&display=swap");
html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
}

* {
  margin: 0;
  padding: 0; /* Reset `padding` and `margin` of all elements */
}

/* # =================================================================
# General elements
# ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible; /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

[hidden],
template {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
  text-decoration: none; /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic; /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
# Forms
# ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto; /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield; /* Safari 8+ */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Safari 8 */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
}

[type=search] {
  outline-offset: -2px; /* Correct the outline style in Safari */
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
}

/* # =================================================================
# Specify media element style
# ================================================================= */
img {
  display: inline-block;
  vertical-align: top;
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden; /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* Responsive media elements so that images and embeds scale with the browser width */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

/* # =================================================================
# Accessibility
# ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
# Selection
# ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000000;
  text-shadow: none;
}

@media screen and (max-width: calc(900px + 3rem + 60px)) {
  #wpadminbar {
    display: none;
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 0.5px;
  background-color: #f7931a;
  border: 0;
  width: 80px;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-y: unset;
}
@media screen and (max-width: 40.063em) {
  html {
    overflow-x: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  overflow-x: hidden;
}
body ::selection {
  background-color: #9AF3FF;
  color: #000000;
}

* {
  font-synthesis: inherit;
}
*, *::before, *::after {
  box-sizing: inherit;
}

address {
  font-size: inherit;
  font-style: inherit;
}

figure {
  margin: 0;
}

.touch {
  cursor: pointer;
}

::selection {
  color: #ffffff;
}

h1 {
  font-size: 2.6rem;
}

h2, h3, h4, h5 {
  font-size: 2.2rem;
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  outline: none;
  color: #f7931a;
  text-decoration: none;
  transition: all 100ms ease-out;
}
a:active {
  outline: 2px solid #00E0FF;
}
a:focus {
  outline: 2px solid #00E0FF;
}

button {
  transition: all 100ms ease-out;
}

.sr {
  display: none;
}

ul li {
  list-style: none;
}

svg, svg path {
  fill: currentcolor;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}
.dark p, .dark li, .dark a {
  color: #ffffff;
}

.padding {
  padding-top: clamp(3rem, 5vw, 6rem);
  padding-bottom: clamp(3rem, 5vw, 6rem);
}
.c-product-details .padding {
  padding-top: clamp(3rem, 5vw, 6rem);
  padding-bottom: clamp(3rem, 5vw, 6rem);
}

.nopaddingtop {
  padding-top: 0 !important;
}

.nopaddingbottom {
  padding-bottom: 0 !important;
}

.nopaddingtopbottom {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nomargintop {
  margin-top: 0 !important;
}

.nomarginbottom {
  margin-bottom: 0 !important;
}

.nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.background--white {
  background-color: #ffffff;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.o-main {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 40.063em) {
  .o-main__about {
    order: 1;
  }
}
.o-main__about__key {
  padding-top: 0.8em;
  display: flex;
  gap: 0.2em;
}
.o-main__about__key span {
  display: block;
}
.o-main__about__key span:first-of-type::before {
  content: "";
  display: block;
  z-index: 1;
  content: url('data:image/svg+xml;utf8,<svg width="13" height="14.65" viewBox="0 0 170 191" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M84.3872 0.00779081C70.2478 0.912945 43.1855 8.26519 24.6986 19.8045C-9.3947 43.1257 -0.988663 81.8002 7.76819 100.263C11.9162 109.008 16.7591 122.768 13.0228 135.828C9.6869 147.488 14.1899 155.068 17.1088 157.983C19.301 160.172 25.1154 160.717 31.8315 161.347C34.0579 161.556 36.3841 161.774 38.7096 162.064C48.0502 163.23 51.553 167.312 52.1368 170.81C52.6038 173.608 52.3313 180.138 52.1368 183.053C55.6103 185.944 66.8919 190.555 84.3872 190.632C84.4609 190.632 84.5345 190.633 84.6081 190.633C84.6816 190.633 84.7552 190.633 84.829 190.633C102.324 190.556 113.606 185.944 117.079 183.053C116.885 180.138 116.612 173.608 117.079 170.81C117.663 167.312 121.166 163.23 130.507 162.064C132.832 161.774 135.158 161.556 137.384 161.347C144.1 160.717 149.915 160.172 152.107 157.983C155.026 155.068 159.529 147.488 156.193 135.828C152.457 122.768 157.3 109.008 161.448 100.263C170.205 81.8002 178.611 43.1257 144.518 19.8045C126.031 8.26519 98.9683 0.912945 84.829 0.00779081C84.677 -0.0037069 84.5331 -0.00142447 84.3872 0.00779081ZM84.6081 124.752C94.4153 124.933 101.317 137.111 101.317 152.736C101.317 161.331 89.7849 160.383 84.829 159.254V159.149C84.7571 159.167 84.6835 159.185 84.6081 159.203C84.5327 159.185 84.459 159.167 84.3872 159.149V159.254C79.4313 160.383 67.8989 161.331 67.8989 152.736C67.8989 137.111 74.801 124.933 84.6081 124.752ZM146.435 95.4339C145.034 73.9784 126.42 71.1113 116.495 71.1114C106.571 71.1115 94.1452 74.1913 94.8952 89.7684C95.8273 109.127 114.327 115.84 128.338 116.423C142.349 117.006 147.603 105.929 146.435 95.4339ZM22.781 95.4339C24.1821 73.9784 42.7961 71.1113 52.7207 71.1114C62.6454 71.1115 75.0709 74.1913 74.3209 89.7684C73.3888 109.127 54.8895 115.84 40.8785 116.423C26.8676 117.006 21.6134 105.929 22.781 95.4339Z" fill="white"/></svg>');
}

.o-row {
  width: 100%;
  margin-top: calc(1rem * 1);
  margin-bottom: calc(1rem * 1);
  padding-right: 3rem;
  padding-left: 3rem;
}
@media screen and (min-width: 22.438em) {
  .o-row {
    margin-top: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-row {
    margin-top: calc(2.2rem * 1);
  }
}
@media screen and (min-width: 22.438em) {
  .o-row {
    margin-bottom: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-row {
    margin-bottom: calc(2.2rem * 1);
  }
}
@media screen and (min-width: calc(900px + 3rem + 60px)) {
  .o-row {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
.o-row--nomargin {
  margin-top: 0;
  margin-bottom: 0;
}
.o-row--nomargin-top {
  margin-top: 0;
}
.o-row--nomargin-bottom {
  margin-bottom: 0;
}
.o-row--no-padding {
  padding: 0;
}
.o-row--no-padding__left {
  padding-left: 0;
}
.o-row--no-padding__right {
  padding-right: 0;
}
.o-row--lighter {
  background-color: #151515;
}

.o-row-container, .o-row-container--full, .o-row-container--wider, .o-row-container--wide {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.o-row-container--wide {
  max-width: 1000px;
}
.o-row-container--wider {
  max-width: 1300px;
}
.o-row-container--full {
  max-width: unset;
}

.o-header {
  margin-top: calc(1rem * 4);
  margin-bottom: calc(1rem * 1);
}
@media screen and (min-width: 22.438em) {
  .o-header {
    margin-top: calc(1.2rem * 4);
  }
}
@media screen and (min-width: 40.063em) {
  .o-header {
    margin-top: calc(2.2rem * 4);
  }
}
@media screen and (min-width: 22.438em) {
  .o-header {
    margin-bottom: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-header {
    margin-bottom: calc(2.2rem * 1);
  }
}
.o-header__container {
  display: flex;
  justify-content: center;
}

.o-about__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.o-about__inner p {
  text-align: center;
}

.o-currencygrid {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  display: grid;
  gap: 2.2rem;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
@media screen and (min-width: 40.063em) {
  .o-currencygrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 55em) {
  .o-currencygrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.o-cookie-banner {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  align-items: center;
  z-index: 1;
  gap: 1em;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  padding: 2.5rem 2rem;
  background-color: black;
}
@media screen and (min-width: 40.063em) {
  .o-cookie-banner {
    left: 3rem;
    bottom: 3rem;
    padding: 0.5em;
    padding-right: 0.5em;
    padding-left: 1.5rem;
    flex-direction: row;
    width: unset;
    background-color: #151515;
  }
}
.o-cookie-banner__notice {
  text-align: center;
}
@media screen and (min-width: 40.063em) {
  .o-cookie-banner__notice {
    text-align: left;
  }
}
.o-cookie-banner__button {
  flex-shrink: 0;
}

.o-footer {
  margin-top: calc(1rem * 1);
  margin-bottom: calc(1rem * 4);
}
@media screen and (min-width: 22.438em) {
  .o-footer {
    margin-top: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-footer {
    margin-top: calc(2.2rem * 1);
  }
}
@media screen and (min-width: 22.438em) {
  .o-footer {
    margin-bottom: calc(1.2rem * 4);
  }
}
@media screen and (min-width: 40.063em) {
  .o-footer {
    margin-bottom: calc(2.2rem * 4);
  }
}
.o-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.o-footer__signoff {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  font-variation-settings: "wght" 700, "opsz" 9;
  line-height: unset;
}

.c-currencyitem {
  border: 2px solid #f7931a;
  position: relative;
  cursor: default;
  padding: 0.3rem;
}
.c-currencyitem__percentage-bar {
  border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D67600;
  height: 100%;
}
.c-currencyitem__text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.6rem;
  line-height: 1;
  color: white;
  text-align: right;
  display: block;
  padding: 0.15em 0.25em 0.1em;
  z-index: 1;
  position: relative;
}
.c-currencyitem--killed.c-currencyitem::before {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  display: block;
  z-index: 1;
  content: url('data:image/svg+xml;utf8,<svg width="16" height="18" viewBox="0 0 170 191" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M84.3872 0.00779081C70.2478 0.912945 43.1855 8.26519 24.6986 19.8045C-9.3947 43.1257 -0.988663 81.8002 7.76819 100.263C11.9162 109.008 16.7591 122.768 13.0228 135.828C9.6869 147.488 14.1899 155.068 17.1088 157.983C19.301 160.172 25.1154 160.717 31.8315 161.347C34.0579 161.556 36.3841 161.774 38.7096 162.064C48.0502 163.23 51.553 167.312 52.1368 170.81C52.6038 173.608 52.3313 180.138 52.1368 183.053C55.6103 185.944 66.8919 190.555 84.3872 190.632C84.4609 190.632 84.5345 190.633 84.6081 190.633C84.6816 190.633 84.7552 190.633 84.829 190.633C102.324 190.556 113.606 185.944 117.079 183.053C116.885 180.138 116.612 173.608 117.079 170.81C117.663 167.312 121.166 163.23 130.507 162.064C132.832 161.774 135.158 161.556 137.384 161.347C144.1 160.717 149.915 160.172 152.107 157.983C155.026 155.068 159.529 147.488 156.193 135.828C152.457 122.768 157.3 109.008 161.448 100.263C170.205 81.8002 178.611 43.1257 144.518 19.8045C126.031 8.26519 98.9683 0.912945 84.829 0.00779081C84.677 -0.0037069 84.5331 -0.00142447 84.3872 0.00779081ZM84.6081 124.752C94.4153 124.933 101.317 137.111 101.317 152.736C101.317 161.331 89.7849 160.383 84.829 159.254V159.149C84.7571 159.167 84.6835 159.185 84.6081 159.203C84.5327 159.185 84.459 159.167 84.3872 159.149V159.254C79.4313 160.383 67.8989 161.331 67.8989 152.736C67.8989 137.111 74.801 124.933 84.6081 124.752ZM146.435 95.4339C145.034 73.9784 126.42 71.1113 116.495 71.1114C106.571 71.1115 94.1452 74.1913 94.8952 89.7684C95.8273 109.127 114.327 115.84 128.338 116.423C142.349 117.006 147.603 105.929 146.435 95.4339ZM22.781 95.4339C24.1821 73.9784 42.7961 71.1113 52.7207 71.1114C62.6454 71.1115 75.0709 74.1913 74.3209 89.7684C73.3888 109.127 54.8895 115.84 40.8785 116.423C26.8676 117.006 21.6134 105.929 22.781 95.4339Z" fill="white"/></svg>');
}
.c-currencyitem:focus-visible {
  outline: 2px solid #00E0FF;
  border-color: transparent;
}

.c-logo-lockup {
  display: flex;
  flex-direction: row;
}
.c-logo-lockup__logo {
  flex-shrink: 0;
  margin-right: 2rem;
}
.c-logo-lockup__sitename {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.6rem;
  line-height: 1;
  font-size: 4.6rem;
}
.c-logo-lockup__subtitle {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  font-variation-settings: "wght" 700, "opsz" 9;
  color: #f7931a;
}

.c-nostr-copy {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.c-nostr-copy__button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: #151515;
  height: 2em;
  border-radius: 2em;
  padding: 0 1em;
}
.c-nostr-copy__button:focus {
  outline: 2px solid #00E0FF;
}
.c-nostr-copy__key {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1rem;
  color: #9AF3FF;
}
.c-nostr-copy__message {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1rem;
  color: white;
}
.c-nostr-copy__icon {
  color: #00E0FF;
  height: 1em;
  font-family: "DM Sans", sans-serif;
  text-transform: lowercase;
  font-size: 1rem;
}

.c-button, .o-cookie-banner__button {
  font-variation-settings: "wght" 700, "opsz" 9;
  text-transform: uppercase;
  font-size: 1.2rem;
  background: #D67600;
  color: black;
  padding: 0.4em 0.8em;
}
.c-button:hover, .o-cookie-banner__button:hover {
  background-color: #f7931a;
}
.c-button:focus-visible, .o-cookie-banner__button:focus-visible {
  outline: 2px solid #00E0FF;
  outline-offset: 2px;
}