@charset "UTF-8";
/*!
* ress.css • v1.2.2
* MIT License
* github.com/filipelinhares/ress
*/
/* # =================================================================
# Global selectors
# ================================================================= */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Mono&family=DM+Sans:ital,opsz,wght@0,9..40,300;0,9..40,400;1,9..40,1000&display=swap");
html {
  box-sizing: border-box;
  overflow-y: scroll; /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%; /* iOS 8+ */
}

*,
::before,
::after {
  background-repeat: no-repeat; /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  vertical-align: inherit;
  text-decoration: inherit; /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
}

* {
  margin: 0;
  padding: 0; /* Reset `padding` and `margin` of all elements */
}

/* # =================================================================
# General elements
# ================================================================= */
/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0;
}

hr {
  overflow: visible; /* Show the overflow in Edge and IE */
}

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

summary {
  display: list-item; /* Add the correct display in all browsers */
}

[hidden],
template {
  display: none; /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: 1px dotted; /* Add a bordered underline effect in all browsers */
  text-decoration: none; /* Remove text decoration in Firefox 40+ */
}

a {
  background-color: transparent; /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects; /* Remove gaps in links underline in iOS 8+ and Safari 8+ */
}

a:active,
a:hover {
  outline-width: 0; /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace; /* Specify the font family of code elements */
}

b,
strong {
  font-weight: bolder; /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */
}

dfn {
  font-style: italic; /* Address styling not present in Safari and Chrome */
}

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000000;
}

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* # =================================================================
# Forms
# ================================================================= */
input {
  border-radius: 0;
}

/* Apply cursor pointer to button elements */
button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

/* Replace pointer cursor in disabled elements */
[disabled] {
  cursor: default;
}

[type=number] {
  width: auto; /* Firefox 36+ */
}

[type=search] {
  -webkit-appearance: textfield; /* Safari 8+ */
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; /* Safari 8 */
}

textarea {
  overflow: auto; /* Internet Explorer 11+ */
  resize: vertical; /* Specify textarea resizability */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit; /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold; /* Restore the font weight unset by the previous rule. */
}

button {
  overflow: visible; /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: 0;
}

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS */
}

button,
select {
  text-transform: none; /* Firefox 40+, Internet Explorer 11- */
}

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}

/* Style select like a standard input */
select {
  -moz-appearance: none; /* Firefox 36+ */
  -webkit-appearance: none; /* Chrome 41+ */
}

select::-ms-expand {
  display: none; /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor; /* Internet Explorer 11+ */
}

legend {
  display: table; /* Correct the text wrapping in Edge and IE */
  max-width: 100%; /* Correct the text wrapping in Edge and IE */
  border: 0; /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit; /* Correct the color inheritance from `fieldset` elements in IE */
  white-space: normal; /* Correct the text wrapping in Edge and IE */
}

::-webkit-file-upload-button {
  font: inherit; /* Change font properties to `inherit` in Chrome and Safari */
  -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari */
}

[type=search] {
  outline-offset: -2px; /* Correct the outline style in Safari */
  -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari */
}

/* # =================================================================
# Specify media element style
# ================================================================= */
img {
  display: inline-block;
  vertical-align: top;
  border-style: none; /* Remove border when inside `a` element in IE 8/9/10 */
}

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden; /* Internet Explorer 11- */
}

audio,
canvas,
progress,
video {
  display: inline-block; /* Internet Explorer 11+, Windows Phone 8.1+ */
}

/* Responsive media elements so that images and embeds scale with the browser width */
img,
embed,
object,
audio,
video {
  max-width: 100%;
  height: auto;
}

/* # =================================================================
# Accessibility
# ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~=screen] {
    display: inherit;
  }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
/* Specify the progress cursor of updating elements */
[aria-busy=true] {
  cursor: progress;
}

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer;
}

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default;
}

/* # =================================================================
# Selection
# ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000000;
  text-shadow: none;
}

::selection {
  background-color: #b3d4fc; /* Required when declaring ::selection */
  color: #000000;
  text-shadow: none;
}

@media screen and (max-width: calc(900px + 3rem + 60px)) {
  #wpadminbar {
    display: none;
  }
}

hr {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  height: 0.5px;
  background-color: #f7931a;
  border: 0;
  width: 80px;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  overflow-y: unset;
}
@media screen and (max-width: 40.063em) {
  html {
    overflow-x: hidden;
  }
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: left;
  overflow-x: hidden;
}
body ::selection {
  background-color: #9AF3FF;
  color: #000000;
}

* {
  font-synthesis: inherit;
}
*, *::before, *::after {
  box-sizing: inherit;
}

address {
  font-size: inherit;
  font-style: inherit;
}

figure {
  margin: 0;
}

.touch {
  cursor: pointer;
}

::selection {
  color: #ffffff;
}

h1 {
  font-size: 2.6rem;
}

h2, h3, h4, h5 {
  font-size: 2.2rem;
}

a,
area,
button,
[role=button],
input:not([type=range]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

a {
  outline: none;
  color: #f7931a;
  text-decoration: none;
  transition: all 100ms ease-out;
}
a:active {
  outline: 2px solid #00E0FF;
}
a:focus {
  outline: 2px solid #f7931a;
}

button {
  transition: all 100ms ease-out;
}

.sr {
  display: none;
}

ul li {
  list-style: none;
}

svg, svg path {
  fill: currentcolor;
}

.dark {
  background-color: #333333;
  color: #ffffff;
}
.dark p, .dark li, .dark a {
  color: #ffffff;
}

.padding {
  padding-top: clamp(3rem, 5vw, 6rem);
  padding-bottom: clamp(3rem, 5vw, 6rem);
}
.c-product-details .padding {
  padding-top: clamp(3rem, 5vw, 6rem);
  padding-bottom: clamp(3rem, 5vw, 6rem);
}

.nopaddingtop {
  padding-top: 0 !important;
}

.nopaddingbottom {
  padding-bottom: 0 !important;
}

.nopaddingtopbottom {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.nomargintop {
  margin-top: 0 !important;
}

.nomarginbottom {
  margin-bottom: 0 !important;
}

.nomargin {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.background--white {
  background-color: #ffffff;
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.o-row {
  width: 100%;
  margin-top: calc(1rem * 1);
  margin-bottom: calc(1rem * 1);
  padding-right: 3rem;
  padding-left: 3rem;
}
@media screen and (min-width: 22.438em) {
  .o-row {
    margin-top: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-row {
    margin-top: calc(2.2rem * 1);
  }
}
@media screen and (min-width: 22.438em) {
  .o-row {
    margin-bottom: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-row {
    margin-bottom: calc(2.2rem * 1);
  }
}
@media screen and (min-width: calc(900px + 3rem + 60px)) {
  .o-row {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}
.o-row--nomargin {
  margin-top: 0;
  margin-bottom: 0;
}
.o-row--nomargin-top {
  margin-top: 0;
}
.o-row--nomargin-bottom {
  margin-bottom: 0;
}
.o-row--no-padding {
  padding: 0;
}
.o-row--no-padding__left {
  padding-left: 0;
}
.o-row--no-padding__right {
  padding-right: 0;
}
.o-row--lighter {
  background-color: #151515;
}

.o-row-container, .o-row-container--full, .o-row-container--wider, .o-row-container--wide {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}
.o-row-container--wide {
  max-width: 1000px;
}
.o-row-container--wider {
  max-width: 1300px;
}
.o-row-container--full {
  max-width: unset;
}

.o-header {
  margin-top: calc(1rem * 4);
  margin-bottom: calc(1rem * 1);
}
@media screen and (min-width: 22.438em) {
  .o-header {
    margin-top: calc(1.2rem * 4);
  }
}
@media screen and (min-width: 40.063em) {
  .o-header {
    margin-top: calc(2.2rem * 4);
  }
}
@media screen and (min-width: 22.438em) {
  .o-header {
    margin-bottom: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-header {
    margin-bottom: calc(2.2rem * 1);
  }
}
.o-header__container {
  display: flex;
  justify-content: center;
}

.o-currencygrid {
  padding-top: 2.2rem;
  padding-bottom: 2.2rem;
  display: grid;
  gap: 2.2rem;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
}
@media screen and (min-width: 40.063em) {
  .o-currencygrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 55em) {
  .o-currencygrid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.o-footer {
  margin-top: calc(1rem * 1);
  margin-bottom: calc(1rem * 4);
}
@media screen and (min-width: 22.438em) {
  .o-footer {
    margin-top: calc(1.2rem * 1);
  }
}
@media screen and (min-width: 40.063em) {
  .o-footer {
    margin-top: calc(2.2rem * 1);
  }
}
@media screen and (min-width: 22.438em) {
  .o-footer {
    margin-bottom: calc(1.2rem * 4);
  }
}
@media screen and (min-width: 40.063em) {
  .o-footer {
    margin-bottom: calc(2.2rem * 4);
  }
}
.o-footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
}
.o-footer__signoff {
  text-align: center;
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  font-variation-settings: "wght" 700, "opsz" 9;
  line-height: unset;
}

.c-currencyitem {
  border: 2px solid #f7931a;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: relative;
  cursor: default;
  padding: 0.3rem;
}
.c-currencyitem__main {
  display: block;
  position: relative;
}
.c-currencyitem__secondary {
  display: block;
  position: relative;
}
.c-currencyitem__percentage-bar {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #D67600;
  height: 100%;
}
.c-currencyitem__text {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.6rem;
  line-height: 1;
  font-variation-settings: "wght" 700;
  color: white;
  text-align: right;
  display: block;
  padding: 0.15em 0.25em 0.1em;
  z-index: 1;
  position: relative;
}
.c-currencyitem__smallunit {
  display: none;
}
.c-currencyitem--killed {
  border-color: #9AF3FF;
}
.c-currencyitem--killed .c-currencyitem__main .c-currencyitem__percentage-bar {
  background-color: #f7931a;
}
.c-currencyitem--killed .c-currencyitem__main .c-currencyitem__text {
  color: black;
}
.c-currencyitem--killed .c-currencyitem__main::before {
  position: absolute;
  top: 50%;
  left: 0.6rem;
  transform: translateY(-55%);
  width: 20px;
  height: 20px;
  display: block;
  z-index: 1;
  content: url('data:image/svg+xml;utf8,<svg width="20" height="20" viewBox="0 0 26 25" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12.8609 0.000650658C11.6801 0.0762456 9.41994 0.690276 7.87599 1.65399C5.02865 3.60169 5.73069 6.83163 6.46203 8.37356C6.80845 9.10395 7.21291 10.2531 6.90088 11.3438C6.62227 12.3177 6.99834 12.9507 7.24212 13.1941C7.4252 13.377 7.9108 13.4225 8.4717 13.4751C8.65764 13.4925 8.85192 13.5107 9.04613 13.535C9.82623 13.6324 10.1188 13.9732 10.1675 14.2654C10.2065 14.4991 10.1838 15.0444 10.1675 15.2879C10.4576 15.5293 11.3998 15.9144 12.8609 15.9208C12.8671 15.9208 12.8733 15.9209 12.8794 15.9209C12.8855 15.9209 12.8917 15.9209 12.8978 15.9209C14.359 15.9145 15.3012 15.5293 15.5913 15.2879C15.575 15.0444 15.5523 14.4991 15.5913 14.2654C15.64 13.9732 15.9326 13.6324 16.7127 13.535C16.9069 13.5107 17.1011 13.4925 17.287 13.4751C17.8479 13.4225 18.3336 13.377 18.5167 13.1941C18.7604 12.9507 19.1365 12.3177 18.8579 11.3438C18.5459 10.2531 18.9503 9.10395 19.2968 8.37356C20.0281 6.83163 20.7301 3.60169 17.8828 1.65399C16.3388 0.690276 14.0787 0.0762456 12.8978 0.000650658C12.8852 -0.000309586 12.8731 -0.000118966 12.8609 0.000650658ZM12.8794 10.4188C13.6985 10.4339 14.2749 11.451 14.2749 12.7559C14.2749 13.4737 13.3117 13.3946 12.8978 13.3003V13.2915C12.8918 13.293 12.8857 13.2945 12.8794 13.296C12.8731 13.2945 12.8669 13.293 12.8609 13.2915V13.3003C12.447 13.3946 11.4839 13.4737 11.4839 12.7559C11.4839 11.451 12.0603 10.4339 12.8794 10.4188ZM12.8794 19.7739C10.7269 20.5072 6.24505 22.1164 5.3894 22.7379C4.88652 23.1031 4.66227 23.5219 4.46042 23.8988C4.23172 24.3259 4.03177 24.6993 3.48792 24.8803C2.66882 25.153 2.00899 24.8966 1.78147 24.7343C1.65145 24.5557 1.46943 24.1013 1.78147 23.7117C2.32753 23.0884 2.36654 22.6729 2.31778 22.5431C2.20402 22.5269 1.85948 22.4554 1.39142 22.2996C0.232575 22.0103 0.317026 21.6732 0.460837 21.0992L0.465058 21.0823C0.611326 20.498 1.39142 20.1085 2.31778 20.1085C3.05887 20.1085 4.47929 20.2058 5.09686 20.2545L9.82618 18.7451C8.15223 18.1608 4.68732 16.9921 4.21926 16.9921C3.19539 17.333 1.39142 17.333 0.952617 17.1382C0.513814 16.9434 0.465058 16.6026 0.465058 15.9209C0.465058 15.3755 1.34266 15.0769 1.78147 14.9957C1.65145 14.801 1.39142 14.2361 1.39142 13.535C1.39142 12.8338 2.39904 12.7234 2.90285 12.7559C2.96786 12.7559 3.17588 12.8143 3.48792 13.048C3.64456 13.1654 3.7383 13.2906 3.87333 13.4709C4.07455 13.7396 4.36747 14.1308 5.09686 14.801C6.06926 15.6944 10.678 17.1786 12.8794 17.8146C15.0808 17.1786 19.6895 15.6944 20.6619 14.801C21.3913 14.1308 21.6842 13.7396 21.8855 13.4709C22.0205 13.2906 22.1142 13.1654 22.2709 13.048C22.5829 12.8143 22.7909 12.7559 22.8559 12.7559C23.3597 12.7234 24.3674 12.8338 24.3674 13.535C24.3674 14.2361 24.1073 14.801 23.9773 14.9957C24.4161 15.0769 25.2937 15.3755 25.2937 15.9209C25.2937 16.6026 25.245 16.9434 24.8062 17.1382C24.3674 17.333 22.5634 17.333 21.5395 16.9921C21.0715 16.9921 17.6066 18.1608 15.9326 18.7451L20.6619 20.2545C21.2795 20.2058 22.6999 20.1085 23.441 20.1085C24.3674 20.1085 25.1475 20.498 25.2937 21.0823L25.298 21.0992C25.4418 21.6732 25.5262 22.0103 24.3674 22.2996C23.8993 22.4554 23.5548 22.5269 23.441 22.5431C23.3923 22.6729 23.4313 23.0884 23.9773 23.7117C24.2894 24.1013 24.1073 24.5557 23.9773 24.7343C23.7498 24.8966 23.09 25.153 22.2709 24.8803C21.727 24.6993 21.5271 24.3259 21.2984 23.8988C21.0965 23.5219 20.8723 23.1031 20.3694 22.7379C19.5137 22.1164 15.0319 20.5072 12.8794 19.7739ZM18.0429 7.97027C17.9259 6.17838 16.3714 5.93894 15.5425 5.93894C14.7136 5.93895 13.6759 6.19617 13.7385 7.4971C13.8164 9.11385 15.3614 9.6745 16.5315 9.7232C17.7017 9.77189 18.1405 8.84674 18.0429 7.97027ZM7.71584 7.97027C7.83285 6.17838 9.38742 5.93894 10.2163 5.93894C11.0452 5.93895 12.0829 6.19617 12.0203 7.4971C11.9424 9.11385 10.3974 9.6745 9.22727 9.7232C8.05713 9.77189 7.61833 8.84674 7.71584 7.97027Z" fill="black"/></svg>');
}
.c-currencyitem:focus-visible {
  outline: 2px solid #f7931a;
  border-color: transparent;
}

.c-logo-lockup {
  display: flex;
  flex-direction: row;
}
.c-logo-lockup__logo {
  flex-shrink: 0;
  margin-right: 2rem;
}
.c-logo-lockup__sitename {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.6rem;
  line-height: 1;
  font-variation-settings: "wght" 700;
  font-size: 4.6rem;
}
.c-logo-lockup__subtitle {
  font-family: "DM Sans", sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1;
  font-variation-settings: "wght" 700, "opsz" 9;
  color: #f7931a;
}

.c-nostr-copy {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.c-nostr-copy__button {
  display: flex;
  align-items: center;
  gap: 0.5em;
  background-color: #151515;
  height: 2em;
  border-radius: 2em;
  padding: 0 1em;
}
.c-nostr-copy__button:focus {
  outline: 2px solid #f7931a;
}
.c-nostr-copy__key {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1rem;
  color: #9AF3FF;
}
.c-nostr-copy__message {
  font-family: "DM Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  font-size: 1rem;
  color: white;
}
.c-nostr-copy__icon {
  color: #00E0FF;
  height: 1em;
  font-family: "DM Sans", sans-serif;
  text-transform: lowercase;
  font-size: 1rem;
}

.e-button {
  font-weight: 600;
  font-size: 3rem;
  font-size: 1.4rem;
  position: relative;
  display: inline-block;
  width: auto;
  padding: 1em 1.2em;
  border: 1px solid #00E0FF;
  color: white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  transition-duration: 0.2s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.8, 0, 0.3, 1);
}
.e-button:hover {
  color: #00E0FF;
}
.e-button:active {
  color: #00E0FF;
}
.e-button:focus {
  color: black;
  background: #00E0FF;
  outline: none;
}